/*set css variable*/
/*--main-color: black;*/
/*access css variable*/
/*var(--main-color);*/
:root {
    /* Dark gray (almost black) */
    --main-color: #222;
    /* Gold */
    --sec-color: #ffc107;
    /* White */
    --ter-color: #fff;
}

body {
    background-color: rgb(52,58,64);
    color: white;
}

#mynav {
    background-color: #343a40 !important;
    color: var(--main-color);
}

header {
    background-color: rgba(242,177,45, 1.0) !important;
}

#indexh1, #solveh1 {
    color: black !important;
}

#indexp, #solvep {
    color: rgba(0,0,0,.9) !important;
}

input {
    width: 100%;
}

#dropdownMenuButton {
    color: #949d9a;
}

#inputs, #outputs {
    /*border: 1px solid var(--sec-color);*/
    box-shadow: 0 0 16px 0px rgba(206, 169, 53, 0.25);
    background-color: #343a40;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 5px;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-bottom: solid 1px rgba(206,169,53,.5)!important;
}

.card-text {
    color: black;
}