/*set css variable*/
/*--main-color: black;*/
/*access css variable*/
/*var(--main-color);*/
:root {
    /* Dark gray (almost black) */
    --main-color: #222;
    /* Gold */
    --sec-color: #ffc107;
    /* White */
    --ter-color: #fff;
}

body {
    background-color: rgb(52,58,64);
    color: white;
}

/* ==================== NAV BAR */

#mynav {
    background-color: #343a40 !important;
    color: var(--main-color);
    min-height: 72px;
}

/* ==================== NAV BAR */

header {
    background-color: rgba(242,177,45, 1.0) !important;
}

.display-4 {
    color: black !important;
}

.lead {
    color: rgba(0,0,0,.9) !important;
}

input {
    width: 100%;
}

#dropdownMenuButton {
    color: #949d9a;
}

#inputs {
    margin-right: 48px;
}

.card:hover {
    box-shadow: 0 0 16px 0px rgba(206, 169, 53, 0.75);
}

#inputs, #outputs, .card {
    /*border: 1px solid var(--sec-color);*/
    box-shadow: 0 0 16px 0px rgba(206, 169, 53, 0.25);
    background-color: #343a40;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 5px;
}

p.card-text {
    color: white !important;
}

.table-dark td, .table-dark th, .table-dark thead th {
    border-bottom: solid 1px rgba(206,169,53,.5) !important;
}

.card-text {
    color: black;
}

hr {
    border-top: 1px solid rgba(242,177,45,.9);
}

code {
    color: rgba(242,177,45,.9);
}

.contactlink {
    color: rgba(242,177,45,.9);
}

    .contactlink:hover {
        color: rgba(242,177,45,.5);
    }

#contact {
    display: flex;
    flex-direction: row;
}

@media only screen and (max-width: 1000px) {
    #contact {
        display: flex;
        flex-direction: column;
    }

    #contactdanny {
        margin-top: -15px !important;
        padding-top: 0;
        margin-bottom: 24px;
    }

    #contactjosh {
        margin-bottom: 24px;
    }

    #contactmack {
        padding-left: 48px;
        margin-bottom: -15px;
    }

    #inout {
        flex-direction: column;
        margin: 5px;
    }

    #inputs {
        margin-bottom: 48px;
    }

    h1 {
        font-size: 24px !important;
    }

    h3 {
        font-size: 16px;
    }

    #calcbtn {
        margin-top: 0 !important;
    }

    #cbp {
        margin-top: 0 !important;
    }

    #tablerow {
        margin: 5px;
    }
}
